@import "../palatte/ColorP.scss";

@media only screen and (max-width: 430px) {
  .frontend-sidebar {
    display: none;
  }
  .paper__paper {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  svg {
    font-size: 1.3rem;
    // color: $primaryC;
  }
  .MuiBottomNavigationAction-root.Mui-selected {
    color: $primaryCdark;
  }
  .MuiBottomNavigationAction-wrapper:hover {
    border-radius: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 431px) and (max-width: 768px) {
  .paper__paper {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .paper__paper {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .paper__paper {
    display: none;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .paper__paper {
    display: none;
  }
}
